* {
  box-sizing: border-box;
  font: inherit;
}

html {
  --card-width: 16rem;
  scroll-behavior: smooth;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  inline-size: var(--card-width);
  margin: auto;
}

h1 {
  font-size: 1.5rem;
}

button {
  position: relative;
  display: block;
  margin-block-end: 1rem;
  padding: 0.3rem 0.6rem;
}

input {
  inline-size: 100%;
}

#card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  inline-size: var(--card-width);
  margin-block-end: 1rem;
}

#card-container > div {
  display: grid;
  gap: 0.4rem;
  break-inside: avoid;
  border: 2px solid black;
  padding: 0.6rem;
}

#card-container p {
  display: grid;
  grid-template-columns: 3ch auto 3ch;
  gap: 1ch;
  margin: 0;
}

#card-container .symbol {
  display: inline-grid;
  align-items: center;
  justify-items: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  font-weight: bold;
}

#card-container svg {
  width: 2ch;
}

#card-container .person .symbol {
  background-color: khaki;
}

#card-container .world .symbol {
  background: cornflowerblue;
}

#card-container .object .symbol {
  background: lightblue;
}

#card-container .action .symbol {
  background: orange;
}

#card-container .nature .symbol {
  background: lightgreen;
}

#card-container .random .symbol {
  background: lightcoral;
}

@media print {
  body {
    inline-size: 100%;
  }

  body > :not(#card-container) {
    display: none;
  }

  #card-container {
    inline-size: 100%;
    flex-direction: row;
    print-color-adjust: exact;
  }

  input {
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
